<h1>Dashboard</h1>
<p>You are currently logged in as {{ name }}
  <!-- UserID: {{ userid }}  -->
  <a href='logout'>Logout</a></p>
<!-- <p>Userlevel: {{ userlevel }}</p> -->
<hr>

<h3>Eigene Angebote</h3>

<div class="grid-container">
  <div class="nav">
  </div>
  <div class="content">
    <!-- <center>
      <h1>{{ title }}</h1>
    </center> -->
  </div>
  <div id="angebote" style="width: 800px;  position: relative; left: 100px;">
  <!-- <table> -->
     {% for offers in data %}
       <div style="width: 800px"><h3>{{ offers.title }}</h3></div>
       <div style="float: left; width: 200px"><img width="190" src="{{ offers.image }}"></div>
       <div style="">
         <div style="float: right; width: 500px;">Anbieter: {{ offers.seller }}</div>
         <div style="float: right; width: 500px;">Preis: {{ offers.price }}</div>
         <div style="float: right; width: 500px;">Typ: {% if offers.type == "sell" %}Verkaufen{% else %}Gesuch{% endif %}</div>
         <div style="float: right; width: 500px;">ID: {{ offers.id }}
         </div>
         <div style="float: right; width: 500px;">Beschreibung: {{ offers.description }}</div>
       </div>
       <div style="clear: both;"></div>
       <hr>
     {% endfor %}
    <!-- </table> -->
  </div>
  <div id="uploads" style="width: 800px;  position: relative; left: 100px;">
    <h3>Uploads</h3>
    <ul>
     {% for files in uploads %}
         <li><img src="/static/uploads/{{ files.filename }}" width="100"></li>
     {% endfor %}
    </ul>
  </div>
</div>
