<html>
<head>
<style>
div.menu {
  float:left;
  padding: 5px;
  font-size: 10px;
}
.menu a:link, a:visited {
  text-decoration: none;
  color: rgb(9, 145, 173);
}

.menu a:hover {
  text-decoration: underline;
  color: rgb(145, 145, 173);
}
</style>
</head>
<body>
<h1>Dashboard</h1>
<p>You are currently logged in as {{ name }}
  <!-- UserID: {{ userid }}  -->
  <a href='logout'>Logout</a></p>
<!-- <p>Userlevel: {{ userlevel }}</p> -->
<div id="nav">
  {% include "nav.tmpl" %}
</div>
<hr>

<h3>Eigene Angebote</h3>

<div class="grid-container">
  <div class="content">
    <!-- <center>
      <h1>{{ title }}</h1>
    </center> -->
  </div>
  <div id="angebote" style="width: 800px;  position: relative; left: 100px;">
  <!-- <table> -->
     {% for offers in data %}
       <div style="width: 800px"><h3>{{ offers.title }}</h3></div>
       <div style="float: left; width: 200px"><img width="190" src="{{ offers.image }}"></div>
       <div style="">
         <div style="float: right; width: 500px;">Anbieter: {{ offers.seller }}</div>
         <div style="float: right; width: 500px;">ID: {{ id }}</div>
         <div style="float: right; width: 500px;">Preis: {{ offers.price }}</div>
         <div style="float: right; width: 500px;">Aktiv: {{ offers.active }}</div>
         <div style="float: right; width: 500px;">Typ: {% if offers.type == "sell" %}Verkaufen{% else %}Gesuch{% endif %}</div>
         <div style="float: right; width: 500px;">Beschreibung: <p>{{ offers.description }}</p></div>
       </div>
       <div style="clear: both;"></div>
       <hr>
     {% endfor %}
    <!-- </table> -->
  </div>
</div>
</body>
</html>
