<center>
  <!-- <div class="menu" ><a class="menu" href="/bar">Cases Bar</a></div> -->
  <div class="menu" >[<a class="menu" href="/dashboard">Angebote</a>] </div>
  <div class="menu" >[<a class="menu" href="/upload">Upload</a>] </div>
  <div class="menu" >[<a class="menu" href="/newitem">Neues Angebot</a>] </div>
  <!-- <div class="menu" ><a class="menu" href="/averagebar">Average Bar</a></div> -->
  <!-- <div class="menu" >[<a class="menu" href="/average">Average Line</a>] </div>
  <div class="menu" >[<a class="menu" href="/klopapier">Klopapier DM Essen-Borbeck</a>] </div> -->
  <div style="float:clear;"></div>
</center>
